<nav class="topbar navbar" data-controller="topbar" data-topbar-scroll-value="200" data-topbar-scrollable-value="{{ scrollable ? 1 : 0 }}">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            {% if logo is not null %}
                <img src="{{ logo }}" alt="Logo">
            {% endif %}
            {% if title is not null %}
                <div class="d-inline-block py-2">
                    {{ title }}
                </div>
            {% endif %}
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbar" aria-controls="topbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="topbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">
                        {% trans %}Home{% endtrans %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_contact') }}">
                        {% trans %}Contact{% endtrans %}
                    </a>
                </li>

                {% if app.request.get('_route') == 'app_home' %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#mes-services">
                            {% trans %}My services{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#mes-realisations">
                            {% trans %}My achievements{% endtrans %}
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('admin') }}">
                            {% trans %}Admin{% endtrans %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
