{% extends 'base.html.twig' %}

{% block body %}
    <div class="mb-5">
        {{ component('jumbotron', {
            class: 'main-jumbotron',
            background: jumbotron.background,
            titleImage: jumbotron.titleImage,
            title: jumbotron.title,
            subtitle: jumbotron.subtitle,
        }) }}
    </div>

    <div class="mb-5">
        <div class="bloc">
            <div class="container">
                <h2 id="mes-services" class="title">
                    {% trans %}My services{% endtrans %}
                </h2>
                <div class="d-flex justify-content-center row row-cols-1 row-cols-md-3 g-4">
                    {% for service in services %}
                        <div class="col">
                            <a href="{{ path('app_service', { slug: service.slug}) }}" class="bloc-link">
                                {{ component('card-service', {
                                    icon: service.icon,
                                    title: service.title,
                                    text: service.description,
                                }) }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="bloc">
            <div class="container">
                <h2 id="mes-realisations" class="title">
                    {% trans %}My achievements{% endtrans %}
                </h2>
            </div>
            {{ component('gallery-slideshow', { gallery: gallery }) }}
        </div>
    </div>

    <div class="mb-5">
        <div class="container">
            {{ component('google-review') }}
        </div>
    </div>
{% endblock %}
