<div>
    Prise de contact de {{ contact.firstname }} {{ contact.lastname }}
</div>
<p>
    <strong>{{ contact.subject }}</strong>
</p>
<p>
    {{ contact.message }}
</p>
<ul>
    <li>Adresse email : {{ contact.email }}</li>
    <li>Téléphone : {{ contact.phone }}</li>
</ul>
