<div class="footer">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-left mb-3 mb-sm-0">
                    <div class="title">A propos</div>
                    <i class="fa-solid fa-copyright"></i>
                    Max'Renov. 2022.<br>
                    Développement: Gwennael Jean
                </div>

                {% if this.hasContact() %}
                <div class="col-12 col-sm-4 col-center mb-3 mb-sm-0">
                    <div class="title">Contact</div>
                    <ul class="list-unstyled mb-0">
                        {% if mail is not empty %}
                            <li>
                                <a href="mailto:{{ mail }}">
                                    <i class="fa-solid fa-fw fa-envelope" aria-hidden="true"></i>
                                    {{ mail }}
                                </a>
                            </li>
                        {% endif %}

                        {% if tel is not empty %}
                            <li>
                                <a href="tel:{{ tel | format_tel }}">
                                    <i class="fa-solid fa-fw fa-phone" aria-hidden="true"></i>
                                    {{ tel }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}

                {% if this.hasReseauSocial() %}
                    <div class="col-12 col-sm-4 col-right mb-3 mb-sm-0">
                        <div class="title">Réseaux sociaux</div>
                        <div class="mb-1">
                            {% if twitter is not empty %}
                                <a href="https://twitter.com/{{ twitter }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x icon-rs"></i>
                                    </span>
                                </a>
                            {% endif %}

                            {% if facebook is not empty %}
                                <a href="https://www.facebook.com/{{ facebook }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x icon-rs"></i>
                                    </span>
                                </a>
                            {% endif %}

                            {% if instagram is not empty %}
                                <a href="https://www.instagram.com/{{ instagram }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-instagram fa-stack-1x icon-rs"></i>
                                    </span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
