<div class="card {{ this.getBackgroundColorClass() }} {{ this.getTextColorClass() }}">
    <div class="card-body">
        <div class="d-flex">
            <div class="p-2 flex-grow-1 bd-highlight align-self-center">
                <i class="fas fa-3x {{ icon }}"></i>
            </div>
            <div class="p-2 bd-highlight text-end">
                <h5 class="card-title {{ this.getTextColorClass() }}">{{ value }}</h5>
                <h5 class="card-text {{ this.getTextColorClass() }}">{{ title | trans }}</h5>
                <a href="#" class="card-link {{ this.getTextColorClass() }}">
                    <i class="fas fa-link" aria-hidden="true"></i>
                    {% trans %}Show all{% endtrans %}
                </a>
            </div>
        </div>
    </div>
</div>
